html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.container .text-muted {
  margin: 20px 0;
}

.submenu {
  margin-top: 20px;
}

.keynote {
  font-weight: bold;
}

.small-pagefill {
  float: right;
  width: 500px;
  margin: 20px 20px;
}

.universitylogo {
  float: right;
  width: 60px;
  margin: 5px 5px;
}

.universitylogo > img {
  width: 60px;
}

.businesscard {
  width: 600px;
}

#schedule {
  width: 600px;
}

#directionmap {
  width: 500px;
  height: 400px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  color: #ff3333;
  font-weight: bold;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

